
		html, body{
            color: white;
			padding: 0;
			margin: 0;
			height: 100%;
			background-color:#3C3D3C !important;
            font-family: sans-serif;
            /*jbjnnm*/
         
		}
		h1,h2,h3,h4,h5,h6{
			margin: 0 auto;
		}
         h1{
			font-size:1.3em;
		}
        h2{
           font-size: 1.1em;
        }
        h3{
            font-size: 1em;
        }
        h4{
            font-size: 0.8em;
        }
        h5{
            font-size: .73em;
        }
        h6{
            font-size: .67em;
        }
        
		a{
			text-decoration: none;
            color: white;
            font-family: sans-serif;
		}
        li{
            list-style: none;
        }
		.mainContainer{
			text-align: center;
			background-color: #3C3D3C;
			position: relative;
			min-height: 100%;
			margin: 0 auto;
			width: 95%;
		}
		.header{
			padding: 4% 0;
		}
		.nav{
			background-color: #61157C;
			vertical-align: top;
            border-radius: 0.3em;
            border-style: solid;
            border-color: white;
            border-width: 0.16em;
		}
                .nav .ul{
                    padding: 0.8%;
                    margin: 0;
                    text-align: left;
                }
                .nav .ul .li{
                    padding: 0 2% 0;
                    display: inline-block;
                    border-right-style: solid;
                    border-right-width: 1px;
                    padding-top: 0.1%;
                }
                .nav .ul .li:last-child 
                { border-right:0px;
                padding-right: 0px; }
				.nav .ul .li a h4{
                    padding:0.1em 0;
					
				}
                .active{
                    border-bottom: solid;
                    border-bottom-color: #00A5A8;
                    border-bottom-width: 0.1%;
                }
               
        .countDisplay{
            background-color:  #3C3D3C;
			text-align: center;
			padding: 0;
            margin: 0 auto;
            margin-top: 1.3% ;
            width:100%;
            height: 4em;
            display: table;
            border-collapse: separate;

         }
                        .countDisplay .li1, .countDisplay .li2{
                            display: table-cell;
                            background-color: #FF545F;
                            text-align: center;
                            border-radius: 0.3em;
                            border-style: solid;
                            border-color: white;
                            border-width: 0.16em;
                            vertical-align: middle;
                        }
                        .countDisplay .li1{
                            text-align: center;
                            width: 70%;
                            margin-right: 0.9%;
                        }
                        .countDisplay .li2{
                            width: 30%;
                            margin-left: 1%;
                        }
                .studentsDisplay{
                    vertical-align: top;
                    text-align: left;
                    width:100%;
                    margin-top: 0.2%;
                }
                        .studentsDisplay .ul{
                            padding:0;
                            margin: 0;
                            width: 100%;
                        }
                        .studentsDisplay .ul .li{
                            background-color: #00A5A8;
                            border-radius: 0.3em;
                            border-style: solid;
                            border-color: white;
                            border-width: 0.16em;
                            margin-top: 1.2%;
                            text-align: left;
                            height:60px;
                        }
						.studentsDisplay .ul .li .imageLabel, 
                        .studentsDisplay .ul .li .dataLabel, 
                        .studentsDisplay .ul .li .timeLabel{
							display: inline-block;
						}
						.imageLabel{
							width:60px;
                            text-align: center;
                             margin:0;
                            padding: 0;
						}
                        .imageLabel .image{
                            width:60px;
                            height:60px;
                            vertical-align: bottom;
                        }
						.dataLabel{
							vertical-align: bottom;
                            text-align: left;
                            /*padding-top:3%;*/
							margin-left:1%;
						}
                        .timeLabel{
                            margin-top:4%; 
                            text-align: center;
                            float:right;
                        }
@media screen and (min-width: 601px){
        h1{
			font-size:2em;
		}
        h2{
           font-size: 1.5em; 
        }
        h3{
            font-size: 1.17em;
        }
        h4{
            font-size: 1em;
        }
        h5{
            font-size: .83em;
        }
        h6{
            font-size: .67em;
        }
    .header{
			padding: 1.4% 0;
		}
    .nav{
            border-radius: 0.45em;
            border-width: 0.2em;
		}
                .nav .ul{
                    padding: 0.5%;
                }
                .nav .ul .li{
                    padding: 0 0.5%;
                    padding-top: 0.1%;
                }
     .countDisplay{
            margin-top: 0.8%;
            height: 4.8em;
      }
    .countDisplay .li1, .countDisplay .li2{
            border-radius: 0.45em;
            border-width: 0.2em;
    }
                        
            
    .studentsDisplay .ul .li{
            border-radius: 0.45em;
            border-width: 0.2em;
            margin-top: 0.12em;
            height:4.7em;
    }
						
	.imageLabel .image{
            width:4.7em;
            height:4.7em;
    }
	.dataLabel{
			vertical-align: bottom;
			margin-left:2%;
	}
}

            
